@use 'sass:math';

%font-base {
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @extend %font-base;
  height: 100vh;
}

html {
  font-size: 0.6rem;
}

input,
textarea {
  @extend %font-base;  
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin: 48px 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: 0.6rem * (7 - $i);
    color: map-get($text-color, dark);
  }
}

