@use 'sass:math';

%font-base {
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @extend %font-base;
  height: 100vh;
}

html {
  font-size: 0.6rem;
  @include breakpoint(phone) {
    font-size: 0.5rem;
  }

  @include breakpoint(tablet) {
    font-size: 0.55rem;
  }
}

input,
textarea {
  @extend %font-base;  
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  @include margin-sides(3,0,3,0);
}

$heading-scale: 1; 
@for $i from 1 through 6 {
  h#{$i} {
    font-size: $base-text-size * (7 - $i);
    color: map-get($text-color, dark);
  }
}

