header {
    background-color: $primary-color;
    @include position(fixed, 0, 20px, auto, 20px);
    @include padding(2);

    .container {

      @include boundaries();
      @include flex();

      justify-content: space-between;
    }
  
    img {
      width: 150px;
      margin-left: 20px;
      padding: 15px 0;
      @include invert-logo-color($primary-color);
    }
  
    ul {
      display: flex;
  
      li {
        list-style: none;
      }
  
      a {
        text-decoration: none;
        color: set-text-color($primary-color);
        text-transform: uppercase;
        font-size: 1.4rem;
        padding: 2.4rem;
        transition: all 250ms linear 0s;
  
        &:hover {
          background: rgba(255, 255, 255, 0.15);
        }
        
      }
    }
  
    .menu-toggle {
      div {
        background: set-text-color($primary-color);
      }
    }
    .menu-brand {
      font-weight: 600;
      font-size: 16px;
      color: white;
    }
  }