@use 'sass:math';

@mixin absolute-center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex($align-items: center, $justify-content: center){
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}
  
@mixin position($pos, $top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@function pow($base, $exp) {
  @return math.pow($base, $exp) + px;
}

$spacing-base: 4;
@mixin margin($exponent: 1) {
  margin: pow($spacing-base, $exponent);
}

@mixin margin-sides($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin: pow($spacing-base, $top) pow($spacing-base, $right) pow($spacing-base, $bottom) pow($spacing-base, $left);
}

@mixin padding($exponent: 1) {
  padding: pow($spacing-base, $exponent);
}
  
  @mixin boundaries(){
    width: 90%;
    max-width: 1024px;
    margin: auto;
  }
  
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 769px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 768px) { @content ; }
  }
  @else if $point == phone {
    @media (max-width: 380px)  { @content ; }
  }
}

